@model StlCollegePrepWebsite.Models.Student
@using StlCollegePrepWebsite.Models
@{
    ViewBag.Title = "Details";

    List<StudentDetails> courses = ViewBag.StudentCourses;
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

    </dl>
</div>
<div>
    <table class="table">
        <tr>
            <th>
                Course Name
            </th>
            <th>
                Subject
            </th>
            <th>
                Awarded Grade
            </th>
            <th>
                Academic Year
            </th>
            <th>
                Credit Hours
            </th>
        </tr>
        @foreach (var item in courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(x => item.AwardedGrade)
                </td>
                <td>
                    @Html.DisplayFor(x => item.AcademicYear)
                </td>
                <td>
                    @Html.DisplayFor(x => item.CreditHours)
                </td>
            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Transcript", "Details", "Report", routeValues: new { id = "Transcript", StudentId = Model.UserId }, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Edit", "Edit", routeValues: new { id = Model.UserId }, htmlAttributes: new { @class = "btn btn-secondary" })
    | @Html.ActionLink("Back to List", "Index")
</p>
