@model StlCollegePrepWebsite.Models.Student
@using StlCollegePrepWebsite.Models
@{
    ViewBag.Title = "Details";

    List<StudentDetails> courses = ViewBag.StudentCourses;
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

    </dl>
</div>
<div>
    <table>
        <tr>
            <th>
                Course Name
            </th>
            <th>
                Subject
            </th>
            <th>
                Awarded Grade
            </th>
            <th>
                Academic Year
            </th>
            <th>
                Credit Hours
            </th>
        </tr>
        @foreach (var item in courses)
        {
            <tr>
                <td>
                    @item.CourseName
                    @*update to razor syntax*@
                </td>
                <td>
                    @item.Subject
                </td>
                <td>
                    @item.AwardedGrade
                </td>
                <td>
                    @item.AcademicYear
                </td>
                <td>
                    @item.CreditHours
                </td>
            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
