@model StlCollegePrepWebsite.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InstructorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>      


    </dl>
</div>

<div>
    <table class="table">
        <tr>
            <th>
                Student Number
            </th>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Awarded Grade
            </th>
        </tr>
        @foreach (var item in ViewBag.StudentCourseList)
        {
        <tr>
            <td>
                @item.StudentNumber
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.AwardedGrade
            </td>
        </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
