@model StlCollegePrepWebsite.Models.CourseSearchResults
@using PagedList.Mvc;
@{
    ViewBag.Title = "Course List";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Index", "Course", FormMethod.Get))
{
    var periods = new SelectList(Model.Periods, "PeriodName", "PeriodName");
    var instructors = new SelectList(Model.Instructors, "UserId", "Name");

    <div class="mb-3">
        @Html.EditorFor(x => x.Search, new { htmlAttributes = new { placeholder = "Search" } })
        @Html.DropDownListFor(x => x.Period, periods, "(ALL)", new { htmlAttributes = new { @class = "form-control"} })
        @Html.DropDownListFor(x => x.InstructorId, instructors, "(ALL)", new { htmlAttributes = new { @class = "form-control" } })
        <input class="btn btn-primary" type="submit" value="Search"/>
    </div>
    
}

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            Course ID
        </th>
        <th>
            Semester
        </th>
        <th>
            Subject
        </th>
        <th>
            Course Name
        </th>
        <th>
            Instructor
        </th>
        <th>
            Credit Hours
        </th>
        <th>
            Period
        </th>

    </tr>

@foreach (var item in Model.Results) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorId)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.CreditHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodName)
        </td>
        
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
            @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
        </td>
    </tr>
}

</table>
