@model IEnumerable<StlCollegePrepWebsite.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Course Name
        </th>
        <th>
            Instructor Id
        </th>
        <th>
            Subject
        </th>
        <th>
            Level
        </th>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
        <th>
            Period
        </th>
        <th>
            Credit Hours
        </th>
        <th>
            Year
        </th>
        <th>
            Semester
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
            @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
        </td>
    </tr>
}

</table>
