@model StlCollegePrepWebsite.Models.GradeUploadViewModel
@{
    ViewBag.Title = "Grade Upload";
    
    var semesterList = new SelectList(new string[]
    {
        "Fall", "Spring", "Summer",
    });
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "GradeUpload", FormMethod.Post,
            new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Year, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Year, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Semester, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Semester, semesterList, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Semester, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PostedFile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="PostedFile" class="form-control-file">
            @Html.ValidationMessageFor(m => m.PostedFile, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Upload" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div style="margin: 8em 0;">
    <h2 class="text-warning">CSV files must be in the following format</h2>
    <table class="table">
        <tr>
            <th>
                Student Last Name
            </th>
            <th>
                Student First Name
            </th>
            <th>
                Student Number
            </th>
            <th>
                Class Description
            </th>
            <th>
                Grading Period Description
            </th>
            <th>
                Final Grade
            </th>
        </tr>
        <tr>
            <td>
                Doe
            </td>
            <td>
                John
            </td>
            <td>
                1234
            </td>
            <td>
                Geometry A
            </td>
            <td>
                Q2
            </td>
            <td>
                2.14
            </td>
        </tr>
    </table>
</div>

@if (Model.Duplicates.Any())
{
    <h2 class="text-danger">Duplicate Rows</h2>
    <span class="text-danger">@String.Join(", ", Model.Duplicates.ToArray())</span>
}
