@model StlCollegePrepWebsite.Models.GradeUploadViewModel
@{
    ViewBag.Title = "GradeUpload";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "GradeUpload", FormMethod.Post,
            new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div>
            @Html.LabelFor(m => m.Year)
            @Html.EditorFor(m => m.Year)
            <br />@Html.ValidationMessageFor(m => m.Year)
        </div>

        <div>
            <label for="semester">Semester</label>
            <select name="semester">
                <option disabled selected value=""> -- select a semester -- </option>
                <option value="Fall">Fall</option>
                <option value="Spring">Spring</option>
                <option value="Summer">Summer</option>
            </select>
            <br />@Html.ValidationMessageFor(m => m.Semester)
        </div>

        <div>
            <label for="csv">CSV File</label>
            <input type="file" name="PostedFile">
            <br/>@Html.ValidationMessageFor(m => m.PostedFile)
        </div>

        <button type="submit">Upload</button>
    </div>

    <div>
        CSV files must be in the following format
    </div>
    <table class="table">
        <tr>
            <th>
                Student Last Name
            </th>
            <th>
                Student First Name
            </th>
            <th>
                Student Number
            </th>
            <th>
                Class Description
            </th>
            <th>
                Grading Period Description
            </th>
            <th>
                Final Grade
            </th>
        </tr>
        <tr>
            <td>
                Doe
            </td>
            <td>
                John
            </td>
            <td>
                1234
            </td>
            <td>
                Geometry A
            </td>
            <td>
                Q2
            </td>
            <td>
                2.14
            </td>
        </tr>
    </table>
    }
